* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope-bold";
}
@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-ExtraBold.woff2") format("woff2"),
    url("./fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope-bold";
  src: url("./fonts/Manrope-Regular.woff2") format("woff2"),
    url("./fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.main-container {
  background-color: #202733;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advice-box {
  position: relative;
  border-radius: 15px;
  max-width: 540px;
  width: 100%;
  background-color: #313a48;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 48px 78px;
  .text-box {
    text-align: center;
    .number {
      max-width: 122px;
      width: 100%;
      display: inline-block;
      p {
        width: 100%;
        color: #53ffaa;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 4px;
      }
      span {
        width: 100%;
      }
    }
    .quotes-box {
      max-width: 444px;
      width: 100%;
      height: 200px;
      .quotes {
        width: 100%;
        height: 100%;
        color: #cee3e9;
        font-size: 28px;
        line-height: 38px;
        margin: 24px 0 48px;
      }
    }
  }
}
.divider {
  width: 100%;
  max-width: 444px;
  .divider-image {
    width: 100%;
  }
}
.dice-box {
  position: absolute;
  background-color: #53ffaa;
  max-width: 64px;
  height: 64px;
  width: 100%;
  bottom: 0;
  transform: translateY(24px);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 40px #53ffaa;
  }
}
@media only screen and (max-width: 992px) {
  .advice-box {
    max-width: 343px;
  }
  .number {
    font-size: 11px;
  }
  .advice-box {
    .text-box {
      .quotes-box {
        .quotes {
          font-size: 24px;
        }
      }
    }
  }
}
